# Flutter/Dart
.dart_tool/
.pub/
build/
*.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
*.swp
*.log

# Project specific
pos_app/android/build/
pos_app/android/app/debug/
pos_app/android/app/profile/
pos_app/android/app/release/
pos_app/devtools_options.yaml
